{%- layout 'password' -%}
  {%- liquid
    assign image = section.settings.background_image
    assign logo = section.settings.logo
    assign styles = ''

    if image
      assign img_object = image
    else
      assign img_object = 'password-page-background.jpg' | asset_url
      assign styles = styles | append: 'background-image: url(' | append: img_object | append: ');'
    endif

    assign focal = img_object.presentation.focal_point | default: '50.0% 50.0%'
    assign styles = styles | append: 'background-position: ' | append: focal | append: ';'
  -%}

  {%- capture powered_by_link -%}{{ 'footer.powered_by' | t }} <a href="https://www.shopify.com/" rel="noopener" target="_blank" rel="nofollow">Shopify</a>{%- endcapture -%}

  <style>
    .password-page__logo {
      max-width: {{ section.settings.logo_max_width | append: 'px' }};
    }
  </style>

  <noscript>
    <style>
      .password-page__container {
        background-image: url( {{ image | img_url: '2048x' }} );
      }
    </style>
  </noscript>

  <body class="template-password">
    <div class="password-page__container lazyload"
      data-section-type="password-template"
      data-section-id="{{ section.id }}"
      {% unless image == blank %}
        data-bgset="{% render 'bgset', image: image %}"
        data-sizes="auto"
      {% endunless %}
      style="{{ styles }}">

      <div class="password-page__wrapper">
        <div class="toggle-wrapper">
          <small>
            <a href="#" id="AdminLoginToggle" data-toggle-admin class="inline-list"> {{ 'password.buttons.store_login' | t }}</a> |
            <a href="#" id="NewsletterToggle" data-toggle-newsletter class="inline-list">{{ 'password.buttons.newsletter_signup' | t }}</a>
          </small>
        </div>
        <div class="password-page__inner wrapper--narrow">
        {%- if logo -%}
          {%- liquid
            assign image_width = section.settings.logo_max_width | times: 2
            assign image_widths = '50, 75, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400, 450, 500, 550, 600, 650, 700, 750, 800'
            assign image_alt = shop.name
          -%}

          {%- render 'image',
            image: logo,
            width: image_width,
            widths: image_widths,
            alt: image_alt,
            sizes: 'auto',
            classes: 'password-page__logo' -%}
        {%- endif -%}

        {%- if section.settings.show_shop_name -%}
          <h1 class="text-center">{{ shop.name }}</h1>
        {%- endif -%}

        <h3>{{ 'password.page.title' | t }}</h3>

        {%- unless shop.password_message == blank -%}
          <p>{{ shop.password_message }}</p>
        {%- endunless -%}

        {%- form 'customer', id: 'CustomerLoginForm', data-form-newsletter: '' -%}
          {{- form.errors | default_errors -}}

          {%- if form.posted_successfully? -%}
            <p>{{ 'password.form.success' | t }}</p>
          {%- else -%}
            <div id ="CustomerSignup">
              <p>{{ 'password.form.newsletter_title' | t }}</p>
              {%- if section.settings.text -%}
                {{- section.settings.text -}}
              {%- endif -%}
              <input class="signup-input inline-list" type="email" name="contact[email]" id="email" placeholder="{{ 'password.form.placeholder' | t }}" required>
              <button type="submit" class="btn btn--primary btn--solid customer-signup-button">{{ 'password.buttons.sign_up' | t }}</button>
            </div>
          {%- endif -%}
        {%- endform -%}

        {%- form 'storefront_password', id: 'StorefrontPassword', data-form-admin: '' -%}
          {{- form.errors | default_errors -}}

          {%- unless form.posted_successfully? -%}
            <div id="AdminLogin">
              <p>{{ 'password.buttons.store_login' | t }}</p>
              <input class="inline-list password-input" type='password' placeholder="Password" name='password' id='password' required>
              <button type="submit" class="btn btn--primary btn--solid password-login-button">{{ 'password.buttons.login' | t }}</button>
            </div>
          {%- endunless -%}
        {%- endform -%}

        <div class="password-page__socials">
          {%- render 'footer-social' -%}
        </div>

        <p class="password-page__powered-by-text"><small>{{ powered_by_link }}</small></p>
      </div>
    </div>

    {%- if image -%}
      <noscript>
        {{ image | image_url: width: image.width | image_tag: class: 'no-js-image password-page__background' }}
      </noscript>
    {%- endif -%}
  </div>

{% schema %}
{
  "name": "Password page",
  "class": "password",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_shop_name",
      "label": "Show shop name",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Custom logo"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Custom logo width (in pixels)",
      "min":50,
      "max":400,
      "default": 70,
      "step":5,
      "unit":"px"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image",
      "info": "2048px width recommended"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ]
}
{% endschema %}
